<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="post">
      <input type="text" id="email" name="email" />
      <input type="password" id="password" name="password" />
      <input type="submit" id="submit" value="log in" />
    </form>
  </body>
</html>
